<?xml version="1.0"?>
<launch>
  <arg name="TESTNAME"      default="Z_0 = 0.13"/>
  <arg name="rotorPitch"    default="15.0"/>
  <arg name="startHeight"   default="0.1069875"/>
  <arg name="stepHeight"    default="0.04"/>
  <arg name="stopHeight"    default="0.6669875"/>
  <arg name="PWM1"          default="21000"/>
  <arg name="PWM2"          default="24000"/>
  <arg name="rate"          default="50"/>
  <arg name="uri"           default="radio://0/44/2M" />
  <arg name="laserheight"   default="True"/>
  <arg name="logging_power" default="True"/>

  <!-- run vicon bridge separately-->
  <!--include file="$(find vicon_bridge)/launch/vicon.launch"/-->

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="crazyflie" />
      <arg name="enable_logging" value="True" />
    </include>

    <node name="ge_teststand" pkg="crazyflie_controller" type="ge_teststand" output="screen">
      <param name="startHeight"   value="$(arg startHeight)"/>
      <param name="stepHeight"    value="$(arg stepHeight)"/>
      <param name="stopHeight"    value="$(arg stopHeight)"/>
      <param name="rate"          value="$(arg rate)"/>
      <param name="PWM1"          value="$(arg PWM1)"/>
      <param name="PWM2"          value="$(arg PWM2)"/>
      <param name="testName"      value="$(arg TESTNAME)"/>
      <param name="laserheight"   value="$(arg laserheight)"/>
      <param name="logging_power" value="$(arg logging_power)"/>
      <param name="rotorPitch"    value="$(arg rotorPitch)"/>
    </node>
    
  </group>
  
</launch>
